<mat-dialog-content>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar [style.background-image]="data.thingData?.avatarImage" [style.backgroundSize]="'cover'">
      </div>
      <mat-card-title>{{data.thingData?.model}}</mat-card-title>
      <mat-card-subtitle>{{data.thingData?.owner}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-divider></mat-divider>
      <mat-list-item style="height: auto;"><img src="{{thingImage}}" />
      </mat-list-item>
      <mat-list>
        <mat-divider></mat-divider>
        <mat-list-item class="status-list-item"><strong>Status:</strong>
          <div>
            @if(!data.thingData?.errors?.length && !data.thingData?.warnings?.length) {
              <span style="margin-left: 5px;">OK</span>
            }
            <span style="margin-left: 5px;"
              *ngFor="let item of data.thingData?.errors?.concat(data?.thingData?.warnings); let i = index;">
              {{data.thingData?.errors?.concat(data.thingData?.warnings).length == i + 1 ? item.name : item.name + ', '}}
            </span>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item style="height: auto;">
          <strong>Position:</strong>
          <div>
            <span style="margin-left: 5px;">{{getLat(data.thingData?.pos.lat)}}</span><br />
            <span style="margin-left: 5px;">{{getLong(data.thingData?.pos.lng)}}</span>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><strong>Speed:</strong><span style="margin-left: 5px;">{{speed}} knots</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><strong>Battery:</strong><span style="margin-left: 5px;">{{houseBattery}}
            volt</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><strong>Relative humidity:</strong><span style="margin-left: 5px;">{{data.thingData?.humidity}}
            %</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><strong>Temperature:</strong><span style="margin-left: 5px;">{{data.thingData?.temperature}}
            °C</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><strong>WiFi signal:</strong><span style="margin-left: 5px;">{{data.thingData?.rssi}} dBm</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><strong>Last updated:</strong><span
            style="margin-left: 5px;">{{getUpdatedString(data.thingData?.updatedDate, data.thingData?.updatedTime)}}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="cancel()">
    <i class="material-icons">cancel</i>
  </button>
<mat-dialog-actions>