.card {
    max-width: 600px;
    margin: 5px;
}

img {
    margin-top: 20px;
    max-width: 100%;
    min-width: 100%;
}

::ng-deep .mat-list-item {
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto !important;
}

::ng-deep .status-list-item {
    height: auto !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*.mat-mdc-dialog-content {
    max-height: fit-content;
}*/





